swiper-container {
  width: 100%;
  height: 25%;
}

swiper-slide{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ion-card {
  --background: var(--ion-color-light);
  height: 14rem;
  margin: 0.3rem 0;
  border-radius: 8px;
  box-shadow: none;
  border: 1px solid var(--ion-color-light);
  
  ion-thumbnail{
    width: 100%;
    height: 10rem;
    margin-bottom: 10px;
  
    ion-img{
      height: 100%;
      border-radius: 8px;
    }
  }

  ion-label {
    font-size: 0.9rem;
  }

  ion-label, p {
    margin:0 5px;
  }

  p{
    font-size: 0.85;
    margin-top: 8px;
    font-weight: 500;
    ion-text.description{
      float: right;
      ion-icon{
        font-size: 0.8rem;
      }
    }
  }
}

.aboutNLSA {
  text-align: center;
  padding-top: 50px;
}

.descriptionNLSA {
  text-align: center;
  padding-top: 40px;
}

.descriptionNLSASec {
  text-align: center;
  padding-top: 40px;
}

.nlsaAct92 {
  color: blue;
  text-decoration: none;
}

.btn-readMore {
  margin-top: 10%;
  margin-left: 40%;
  padding: 0;
  margin-bottom: 5%;
}

.ourLetestNews {
  text-align: center;
  padding-top: 10px;
}